@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet');

* {
  font-family: 'Poppins', sans-serif;
  font-size: smaller;
}

.current-weather img {
  max-width: 120px;
  margin-top: -15px;
}

.card-img img {
  height: 100%;
  max-height: 100;
  margin: 0 auto;  
}